
@media(max-width:1604px){
    .nav-top .left-content{
        width: 60%;
    }
  
}


@media(max-width:991px){
    nav .container{
        width: 100% !important;
    }
    .nav-top .left-content span , .nav-top .left-content a{
        display: none;
    }

    .nav-top .left-content{
        width: 20%;
    }
    .header .main-head{
        font-size: 35px;
    }
    .header .info{
        position: unset;
        padding-top: 3rem;
    }
   
    .carousel-caption{
        top: 11%;
    }
    .carousel-caption h1{
        font-size: 15px;
    }
    .header .main-head{
        font-size: 30px;
    }

   /*popular cources*/
    .btn-cart{
        left: 29%;
    }
    /*register*/
    .timer{padding: 30px 0;}
    .register .right-content{
        width: 100% !important;
    }
    .counter{
        width: 90px;
       height:100px;
       border: 2px solid #fff;
       font-size: 23px;
    }
   
    .register p{
        font-size: 15px;
    }
    .register span{font-size: 29px;}
}


@media(max-width:767px){
    .header .info .col-lg-4{
        width: 80%;

    }
    .carousel-caption{
        top: 14%;
    }
    .header .main-btn{
        padding: 0;
    }
    
    .btn-cart{
        left: 50%;
    }

    .counter{
        width: 100px;
       height: 100px;
       border: 2px solid #fff;
       font-size: 23px;
    }

    .events .col-lg-3 {
    position: absolute;
    left: 0;
    margin-top: 180px;  
    }    
    .events .col-lg-3 img{
        width: 40% !important;
    }

    .events .event-inf  h3{
        font-size: 17px;
        width: 130%;
    }
    .events .event-inf span{
        font-size: 10px;
    }

    .event .main-btn{
        padding: 10px !important;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .new_card .news-info p{
        display: none;
    }
  
}
